:root {
    --cor-1: #ffffff;
    --cor-2: #222222;
    --background: rgba(255, 255, 255, 0.7);
    --cor-hover: #008aff;
}
.dark-theme {
    --cor-1: #222222;
    --cor-2: #ffffff;
    --background: #222222;
}
  
html {
    max-height: 100%;
}

::-webkit-scrollbar {
    width: 0;
}
  
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--background);
}
  
header {
    width: 100vw;
    z-index: 2;
    position: fixed;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-2);
    box-sizing: border-box;
    padding: 0 80px;
    height: 6vh;
    min-height: 50px;
}
  
#menu {
    display: flex;
}
  
#link-logo {
    background-color: transparent;
}
  
.logo {
    width: 120px;
    height: 49px;
}
  
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 10px;
}
  
.nav-list li a {
    padding: 8px;
    color: var(--cor-1);
    transition: .3s;
    text-decoration: none;
}
  
.nav-list li a:hover {
    color: var(--cor-hover);
}
  
#icon {
    width: 30px;
    cursor: pointer;
    margin-left: 30px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: var(--cor-1);
    margin: 8px;
    transition: .3s;
}

main {
    width: 100%;
    min-height: calc(100vh - 34px);
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 70px;
}

.container-product {
    width: 50%;
    max-height: 100%;
}

.container-product picture {
    width: 100%;
    height: 100%;
}

.container-product picture img {
    width: 420px;
    height: 270px;
}

.container-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-text h1 {
    color: var(--cor-2);
    text-align: center;
    margin-bottom: 50px;
}

.container-text h2 sup {
    color: red;
    text-decoration: line-through;
}

.container-text h2 {
    color: green;
    margin-bottom: 20px;
}

.container-text p {
    color: var(--cor-2);
    text-align: justify;
    max-width: 90%;
    margin-bottom: 50px;
}

.btn1 {
    border: none;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
}

.btn1 a {
    color: #ffffff;
    padding: 10px 40px;
    text-decoration: none;
    background-color: #0080ff;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 2px solid #0080ff;
}

.btn1 a:hover {
    background-color: #0080ffd0;
    border: 2px solid transparent;
}

.btn2 {
    border: none;
    background-color: transparent;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
}

.btn2 a {
    color: var(--cor-2);
    padding: 10px 36px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 2px solid var(--cor-2);
}

.btn2 a:hover {
    color: var(--cor-1);
    background-color: var(--cor-2);
}

footer {
    max-width: 100%;
    text-align: center;
    background-color: var(--cor-2);
}
  
footer p {
    color: var(--cor-1);
    padding: 5px 0;
    font-size: 16px;
}


@media screen and (max-width: 1000px) {
    main {
        width: 100%;
        padding-top: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container {
        max-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 70px;
    }
    
    .container-product {
        width: 50%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container-product picture {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container-product picture img {
        width: 400px;
        height: 250px;
    }
    
    .container-text {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container-text h1 {
        color: var(--cor-2);
        text-align: center;
        margin-bottom: 50px;
    }
    
    .container-text h2 sup {
        color: red;
        text-decoration: line-through;
    }
    
    .container-text h2 {
        color: green;
        margin-bottom: 20px;
    }
    
    .container-text p {
        color: var(--cor-2);
        text-align: justify;
        max-width: 90%;
        margin-bottom: 50px;
    }
    
    .btn1 {
        border: none;
        margin-bottom: 20px;
        background-color: transparent;
        padding: 10px 0;
        border-radius: 10px;
        font-weight: bold;
    }
    
    .btn1 a {
        color: #ffffff;
        padding: 10px 40px;
        text-decoration: none;
        background-color: #0080ff;
        border-radius: 10px;
        transition: all 0.3s ease;
        border: 2px solid #0080ff;
    }
    
    .btn1 a:hover {
        background-color: #0080ffd0;
        border: 2px solid transparent;
    }
    
    .btn2 {
        border: none;
        background-color: transparent;
        padding: 10px 0;
        border-radius: 10px;
        font-weight: bold;
    }
    
    .btn2 a {
        color: var(--cor-2);
        padding: 10px 36px;
        text-decoration: none;
        background-color: transparent;
        border-radius: 10px;
        transition: all 0.3s ease;
        border: 2px solid var(--cor-2);
    }
    
    .btn2 a:hover {
        color: var(--cor-1);
        background-color: var(--cor-2);
    }
}



@media screen and (max-width: 950px) {
    .container {
        max-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 70px;
    }
    
    .container-product {
        width: 50%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container-product picture {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container-product picture img {
        width: 370px;
        height: 220px;
    }
    
    .container-text {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width: 930px) {
    body {
        background-color: var(--cor-1);
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }
  
    header {
        width: 100vw;
        z-index: 2;
        position: fixed;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--cor-2);
        box-sizing: border-box;
        padding: 0 60px;
        height: 6vh;
        min-height: 50px;
    }
    
    nav a {
        color: var(--cor-1);
        text-decoration: none;
        transition: .3s;
    }
    
    nav a:hover {
        color: var(--cor-hover);
    }
    
    .logo {
        width: 120px;
        height: 50px;
    }
    
    .nav-list {
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    .nav-list li {
        letter-spacing: 3px;
        margin-top: 5px;
        margin-left: 30px;
    }
    
    .mobile-menu {
        display: none;
        cursor: pointer;
    }
    
    .mobile-menu div {
        width: 32px;
        height: 2px;
        background-color: var(--cor-1);
        margin: 8px;
        transition: .3s;
    }
}


@media screen and (max-width: 900px) {
    .container-product picture img {
        width: 350px;
        height: 200px;
    }
}



@media screen and (max-width: 850px) {
    body {
        overflow-x: hidden;
    }
  
    .nav-list {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 70vw;
        height: 94vh;
        background-color: var(--cor-2);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 100px 0;
        transform: translateX(100%);
        transition: transform .3s ease-in;
        box-sizing: border-box;
        padding: 100px 0;
    }
  
    .nav-list li {
        max-height: 85%;
        margin-left: 0;
        opacity: 0;
    }
  
    .nav-list li a {
        padding: 20px;
    }
  
    #icon {
        width: 36px;
        cursor: pointer;
        margin-right: 60px;
        margin-left: 0;
    }
  
    .mobile-menu {
        display: block;
        margin-right: -100px;
    }
  
    .nav-list.active {
        transform: translateX(0%);
    }
  
    @keyframes navLinkFade {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }
  
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
  
    .mobile-menu.active .line-1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
  
    .mobile-menu.active .line-2 {
        opacity: 0;
    }
  
    .mobile-menu.active .line-3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    main {
        width: 100%;
        height: 100%;
        padding-top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container {
        max-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
    }
    
    .container-product {
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
    
    .container-product picture {
        width: 100%;
        height: 100%;
    }
    
    .container-product picture img {
        width: 420px;
        height: 270px;
    }
    
    .container-text {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container-text h1 {
        color: var(--cor-2);
        text-align: center;
        margin: 30px 0 20px 0;
    }
    
    .container-text h2 sup {
        color: red;
        text-decoration: line-through;
    }
    
    .container-text h2 {
        color: green;
        margin-bottom: 20px;
    }
    
    .container-text p {
        color: var(--cor-2);
        text-align: justify;
        max-width: 100%;
        margin-bottom: 30px;
    }
    
    .btn1 {
        border: none;
        margin-bottom: 20px;
        background-color: transparent;
        padding: 10px 0;
        border-radius: 10px;
        font-weight: bold;
    }
    
    .btn1 a {
        color: #ffffff;
        padding: 10px 40px;
        text-decoration: none;
        background-color: #0080ff;
        border-radius: 10px;
        transition: all 0.3s ease;
        border: 2px solid #0080ff;
    }
    
    .btn1 a:hover {
        background-color: #0080ffd0;
        border: 2px solid transparent;
    }
    
    .btn2 {
        border: none;
        background-color: transparent;
        padding: 10px 0;
        border-radius: 10px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    .btn2 a {
        color: var(--cor-2);
        padding: 10px 36px;
        text-decoration: none;
        background-color: transparent;
        border-radius: 10px;
        transition: all 0.3s ease;
        border: 2px solid var(--cor-2);
    }
    
    .btn2 a:hover {
        color: var(--cor-1);
        background-color: var(--cor-2);
    }

    footer {
        max-width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 600px) {
    .container-product picture img {
        width: 400px;
        height: 250px;
    }
}


@media screen and (max-width: 500px) {
    .container-product picture img {
        width: 350px;
        height: 200px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--cor-2);
        box-sizing: border-box;
        padding: 0 40px;
        height: 6vh;
        min-height: 50px;
    }
}


@media screen and (max-width: 400px) {
    .container-product picture img {
        width: 300px;
        height: 170px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--cor-2);
        box-sizing: border-box;
        padding: 0 25px;
        height: 6vh;
        min-height: 50px;
    }
}
