* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html {
  max-height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 6vh;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%, 100% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#progressBar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressBar::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
	background-color: #ffffff;
}

header {
	width: 100vw;
	z-index: 2;
	position: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262626;
  box-sizing: border-box;
  padding: 0 80px;
  height: 6vh;
  min-height: 50px;
}

#link-logo {
  background-color: transparent;
}

.logo {
  width: 120px;
  height: 50px;
  margin: 8px 0 0;
}

.nav-list {
  list-style: none;
  display: flex;
	align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 10px;
}

.nav-list li a {
  padding: 8px;
  color: white;
  transition: .3s;
  text-decoration: none;
}

.nav-list li a:hover {
  color: #ffffffa8;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #FFF;
  margin: 8px;
  transition: .3s;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  overflow-x: hidden;
}

.bg-top {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(/imagens/bg-top.jpg);
}

#text-top {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.bem-vindo, .copyright {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.bem-vindo {
  color: white;
  text-align: center;
  font-weight: normal;
  padding: 30px 0 0;
  font-size: 35px;
  margin: 400px 0 0 0;
}

.copyright {
  color: white;
  text-align: center;
  font-weight: normal;
  padding: 10px 0 0;
  margin: 0;
  font-size: 25px;
}

.secoes {
  margin: 0;
  padding: 70px 0 0;
  text-align: center;
  font-weight: normal;
}

.container-line-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-line-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-line-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-line-4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-line-5 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-line-6 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-line-7 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-line-8 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 410px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 30px 10px 15px 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-2 {
  width: 410px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 50px 10px 30px;
  margin: 30px 0 15px 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-3 {
  width: 410px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 10px 15px 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-4 {
  width: 410px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 60px 10px 30px 10px;
  margin: 15px 0 15px 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-5 {
  width: 410px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 10px 15px 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-6 {
  width: 410px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 0 15px 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-7 {
  width: 410px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 60px 10px 30px 10px;
  margin: 15px 10px 30px 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-8 {
  width: 410px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 0 30px 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-9 {
  width: 350px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 10px 15px 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-10 {
  width: 350px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 0 15px 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-11 {
  width: 350px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 10px 30px 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-12 {
  width: 350px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 0 30px 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-13 {
  width: 350px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 10px 15px 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-14 {
  width: 350px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 0 15px 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-15 {
  width: 350px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 10px 30px 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.container-16 {
  width: 350px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  padding: 30px 10px;
  margin: 15px 0 30px 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.produto-1 img {
  width: 300px;
  height: 200px;
}

.produto-2 img {
  width: 310px;
  height: 180px;
}

.produto-3 img {
  width: 300px;
  height: 200px;
}

.produto-4 img {
  width: 300px;
  height: 150px;
  margin-bottom: 20px;
}

.produto-5 img {
  width: 310px;
  height: 140px;
  margin-top: 20px;
}

.produto-6 img {
  width: 300px;
  height: 140px;
  margin-top: 20px;
}

.produto-7 img {
  width: 300px;
  height: 150px;
  margin-bottom: 20px;
}

.produto-8 img {
  width: 300px;
  height: 200px;
}

.produto-9 img {
  width: 200px;
  height: 300px;
}

.produto-10 img {
  width: 200px;
  height: 300px;
}

.produto-11 img {
  width: 200px;
  height: 300px;
}

.produto-12 img {
  width: 200px;
  height: 300px;
}

.produto-13 img {
  width: 230px;
  height: 300px;
}

.produto-14 img {
  width: 250px;
  height: 300px;
}

.produto-15 img {
  width: 200px;
  height: 300px;
}

.produto-16 img {
  width: 200px;
  height: 300px;
}

.txt {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.txt h1 {
  color: black;
  font-weight: normal;
  font-size: 33px;
}

#h1-10 {
  color: black;
  font-weight: normal;
  font-size: 30px;
}

#h1-14 {
  color: black;
  font-weight: normal;
  font-size: 30px;
}

.cor {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 0;
}

.cor p {
  margin: 0;
}

.color {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, white 50%, black 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-2 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, rgb(212, 0, 0) 50%, black 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-3 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, rgb(255, 145, 0) 50%, white 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-4 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, #2C3242 50%, white 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-5 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, #ffb5b5  50%, #8A3D3E 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-6 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, #ad99b3 50%, #D0BFD9 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-7 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, #ffcfbf 50%, white 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-8 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, #93b9a2 35%, #c0a7c4 36%, #c0a7c4 65%, #ffcfbf 72%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-9 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, #cc7d7b 50%, black 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-10 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, white 50%, #E899AC 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-11 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, white 50%, black 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-12 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, black 35%, #505251 36%, #505251 65%, rgb(0, 235, 0) 66%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-13 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, white 50%, black 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-14 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, white 34%, rgb(255, 30, 14) 35%, rgb(255, 30, 14) 65%, black 66%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-15 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, #E3FD16 50%, #34292D 51%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.color-16 {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(90deg, white 34%, black 35%, black 65%, #81AD87 66%);
  background-repeat: no-repeat;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#preco span {
  color: red;
  text-decoration: line-through;
  font-size: 28px;
}

#preco {
  color: green;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 28px;
}

.txt button {
  margin-top: 20px;
  padding: 10px 0;
  border: none;
  background-color: #0080FF;
  border-radius: 10px;
}

.txt button:hover {
  animation: none;
}

.txt button a {
  color: white;
  padding: 10px 20px;
  font-size: 1.3em;
  text-decoration: none;
}

footer {
  max-width: 100%;
  font-size: .9em;
  text-align: center;
  background-color: black;
}

footer p {
  color: white;
  padding: 5px 0;
}

footer p span {
  color: #2CA2ED;
}


@media screen and (max-width: 930px) {
  body {
    background-color: #ffffff;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  header {
    width: 100vw;
    z-index: 2;
    position: fixed;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #262626;
    box-sizing: border-box;
    padding: 0 60px;
    height: 6vh;
    min-height: 50px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: .3s;
  }
  
  nav a:hover {
    color: #ffffffa8;
  }
  
  .logo {
    width: 120px;
    height: 50px;
    margin-top: 5px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-top: 5px;
    margin-left: 30px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #FFF;
    margin: 8px;
    transition: .3s;
  }
  
  .container {
    width: 380px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 30px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-2 {
    width: 380px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 50px 10px 30px;
    margin: 30px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-3 {
    width: 380px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-4 {
    width: 380px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 60px 10px 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-5 {
    width: 380px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-6 {
    width: 380px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-7 {
    width: 380px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 60px 10px 30px 10px;
    margin: 15px 10px 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-8 {
    width: 380px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 30px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .produto-1 img {
    width: 300px;
    height: 200px;
  }
  
  .produto-2 img {
    width: 310px;
    height: 180px;
  }
  
  .produto-3 img {
    width: 300px;
    height: 200px;
  }
  
  .produto-4 img {
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  .produto-5 img {
    width: 310px;
    height: 140px;
    margin-top: 20px;
  }
  
  .produto-6 img {
    width: 300px;
    height: 140px;
    margin-top: 20px;
  }
  
  .produto-7 img {
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  .produto-8 img {
    width: 300px;
    height: 200px;
  }

  .txt h1 {
    color: black;
    font-weight: normal;
    font-size: 28px;
  }
}


@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 6vh;
    right: 0;
    width: 50vw;
    height: 94vh;
    background-color: #262626;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 100px 0;
    transform: translateX(100%);
    transition: transform .3s ease-in;
    box-sizing: border-box;
    padding: 100px 0;
  }

  .nav-list li {
    max-height: 85%;
    margin-left: 0;
    opacity: 0;
  }

  .nav-list li a {
    padding: 20px;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line-1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line-2 {
    opacity: 0;
  }

  .mobile-menu.active .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .bg-top {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(/imagens/bg-top.jpg);
  }
  
  #text-top {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
  }
  
  .bem-vindo, .copyright {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .bem-vindo {
    color: white;
    text-align: center;
    font-weight: normal;
    padding: 30px 0 0;
    font-size: 35px;
    margin: 400px 0 0 0;
  }
  
  .copyright {
    color: white;
    text-align: center;
    font-weight: normal;
    padding: 10px 20px 0;
    margin: 0;
    font-size: 25px;
  }

  .container {
    width: 350px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 30px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-2 {
    width: 350px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 30px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-3 {
    width: 350px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-4 {
    width: 350px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-5 {
    width: 350px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-6 {
    width: 350px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-7 {
    width: 350px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 10px 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-8 {
    width: 350px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 30px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .produto-1 img {
    width: 260px;
    height: 160px;
  }
  
  .produto-2 img {
    width: 260px;
    height: 160px;
  }
  
  .produto-3 img {
    width: 260px;
    height: 160px;
  }
  
  .produto-4 img {
    width: 270px;
    height: 130px;
    margin-bottom: 20px;
  }
  
  .produto-5 img {
    width: 270px;
    height: 130px;
    margin-top: 20px;
  }
  
  .produto-6 img {
    width: 270px;
    height: 130px;
    margin-top: 20px;
  }
  
  .produto-7 img {
    width: 270px;
    height: 130px;
    margin-bottom: 20px;
  }
  
  .produto-8 img {
    width: 260px;
    height: 160px;
  }

  .txt h1 {
    color: black;
    font-weight: normal;
    font-size: 28px;
  }
  
  footer {
    max-width: 100%;
    font-size: .8em;
    text-align: center;
    background-color: black;
  }
  
  footer p {
    color: white;
    padding: 5px 0;
  }
  
  footer p span {
    color: #2CA2ED;
  }
  
}


@media screen and (max-width: 800px) {
  .container {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 30px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-2 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 30px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-3 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-4 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-5 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-6 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-7 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 10px 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-8 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 30px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }

  .container-9 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-10 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-11 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-12 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 30px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-13 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-14 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-15 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-16 {
    width: 300px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 30px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .produto-1 img {
    width: 260px;
    height: 160px;
  }
  
  .produto-2 img {
    width: 260px;
    height: 160px;
  }
  
  .produto-3 img {
    width: 260px;
    height: 160px;
  }
  
  .produto-4 img {
    width: 270px;
    height: 130px;
    margin-bottom: 20px;
  }
  
  .produto-5 img {
    width: 270px;
    height: 130px;
    margin-top: 20px;
  }
  
  .produto-6 img {
    width: 270px;
    height: 130px;
    margin-top: 20px;
  }
  
  .produto-7 img {
    width: 270px;
    height: 130px;
    margin-bottom: 20px;
  }
  
  .produto-8 img {
    width: 260px;
    height: 160px;
  }

  .produto-9 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-10 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-11 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-12 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-13 img {
    width: 230px;
    height: 300px;
  }
  
  .produto-14 img {
    width: 250px;
    height: 300px;
  }
  
  .produto-15 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-16 img {
    width: 200px;
    height: 300px;
  }

  .txt h1 {
    color: black;
    font-weight: normal;
    font-size: 23px;
  }

  #h1-10 {
    color: black;
    font-weight: normal;
    font-size: 23px;
  }

  #h1-14 {
    color: black;
    font-weight: normal;
    font-size: 23px;
  }

  #preco span {
    color: red;
    text-decoration: line-through;
    font-size: 23px;
  }
  
  #preco {
    color: green;
    margin-left: 10px;
    font-size: 23px;
  }
}

@media screen and (max-width: 660px) {
  .container {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 30px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-2 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 30px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-3 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-4 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-5 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-6 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-7 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 40px 10px 30px 10px;
    margin: 15px 10px 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-8 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 30px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }

  .container-9 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-10 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-11 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-12 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 30px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-13 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-14 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 15px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-15 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 10px 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .container-16 {
    width: 250px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: 15px 0 30px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
  
  .produto-1 img {
    width: 220px;
    height: 120px;
  }
  
  .produto-2 img {
    width: 220px;
    height: 120px;
  }
  
  .produto-3 img {
    width: 220px;
    height: 120px;
  }
  
  .produto-4 img {
    width: 220px;
    height: 110px;
    margin-bottom: 20px;
  }
  
  .produto-5 img {
    width: 220px;
    height: 100px;
    margin-top: 20px;
  }
  
  .produto-6 img {
    width: 220px;
    height: 105px;
    margin-top: 20px;
  }
  
  .produto-7 img {
    width: 220px;
    height: 110px;
    margin-bottom: 20px;
  }
  
  .produto-8 img {
    width: 230px;
    height: 130px;
  }

  .produto-9 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-10 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-11 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-12 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-13 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-14 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-15 img {
    width: 200px;
    height: 300px;
  }
  
  .produto-16 img {
    width: 200px;
    height: 300px;
  }

  .txt h1 {
    color: black;
    font-weight: normal;
    font-size: 20px;
  }

  .inf{
    font-size: 16px;
  }

  #h1-2 {
    color: black;
    font-weight: normal;
    font-size: 19px;
  }

  #h1-10 {
    color: black;
    font-weight: normal;
    font-size: 20px;
  }

  #h1-14 {
    color: black;
    font-weight: normal;
    font-size: 20px;
  }

  .cor {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0;
  }
  
  .cor p {
    margin: 0;
  }
  
  .color {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, white 50%, black 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-2 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, rgb(212, 0, 0) 50%, black 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-3 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, rgb(255, 145, 0) 50%, white 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-4 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #2C3242 50%, white 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-5 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #ffb5b5  50%, #8A3D3E 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-6 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #ad99b3 50%, #D0BFD9 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-7 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #ffcfbf 50%, white 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-8 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #93b9a2 35%, #c0a7c4 36%, #c0a7c4 65%, #ffcfbf 72%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-9 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #cc7d7b 50%, black 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-10 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, white 50%, #E899AC 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-11 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, white 50%, black 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-12 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, black 35%, #505251 36%, #505251 65%, rgb(0, 235, 0) 66%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-13 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, white 50%, black 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-14 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, white 34%, rgb(255, 30, 14) 35%, rgb(255, 30, 14) 65%, black 66%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-15 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #E3FD16 50%, #34292D 51%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  .color-16 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, white 34%, black 35%, black 65%, #81AD87 66%);
    background-repeat: no-repeat;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}